@import "compass/css3";

@mixin popover {
    .popover {
        $notch-size: 8px;

        @include filter(drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.4)));
        filter: url('data:image/svg+xml,<svg height="0" xmlns="http://www.w3.org/2000/svg"><filter id="drop-shadow"><feGaussianBlur in="SourceAlpha" stdDeviation="3"/><feOffset dx="0" dy="1" result="offsetblur"/><feFlood flood-color="rgba(0,0,0,0.4)"/><feComposite in2="offsetblur" operator="in"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></svg>#drop-shadow');
        -webkit-transform: translateZ(0);
        position: absolute;
        background: #fff;
        @include border-radius($standard-border-radius);
        padding: $tight-standard-padding;
        top: 0;
        left: 0;

        .notch {
            position: absolute;
            top: -1 * ($notch-size - 1px);
            left: ($notch-size - 1px);
            margin: 0;
            border-top: 0;
            border-left: ($notch-size - 1px) solid transparent;
            border-right: ($notch-size - 1px) solid transparent;
            border-bottom: ($notch-size - 1px) solid #fff;
            padding: 0;
            width: 0;
            height: 0;
        }

        &.popover-above {
            .notch {
                top: auto;
                bottom: -1 * ($notch-size - 1px);
                border-top: ($notch-size - 1px) solid #fff;
                border-bottom: 0;
            }
        }

        &.popover-align-right {
            .notch {
                right: ($notch-size - 1px);
                left: auto;
            }
        }

        &.is-ie {
            @include box-shadow(0 0 12px rgba(black, 0.3));
        }
    }
}
